<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-mycustomstyle 
        {
            background-color: white;
        }

       .navbar-mycustomstyle .navbar-brand.navbar-mycustomstyle .nav-link,.navbar-mycustomstyle .fw-bold,.navbar-mycustomstyle small 
       {
            color: #367588;
       }

      .navbar-mycustomstyle .nav-link:hover 
      {
         color: black;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-mycustomstyle">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home", new { area = "" })">
                <img src="~/Content/images/logo.png" alt="Logo" width="40" height="40" class="me-2" />
                <div>
                    <div class="fw-bold">RescueBus</div>
                    <small>you're better off not dead</small>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Ride History", "RideHistory", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Manage", "DriverVehicleManagement", "Home", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
